@import "tailwindcss";
.banner{
    /* background-image: url(./assets/hero-bg.png); */
    /* height: 100vh; */
    /* background-position: center center; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* justify-items: center;/ */
    /* align-items: center; */

}